
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
# Local data
uploads/
*.db
*.sqlite3

# Node
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.vite/
dist/

# IDE / OS
.idea/
.vscode/
*.DS_Store
.env
.env.*
!/.env.example
